@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css)
@import "normalize"

a
  color: #333
  text-decoration: none

#info-button
  position: fixed
  bottom: 12px
  z-index: 10
  text-align: center
  width: 100%
  .wrapper
    padding: 8px 20px
    // background-color: rgba(black, 0.5)
    color: white
    display: inline-block
    border-radius: 18px

body
  font-family: -apple-system, BlinkMacSystemFont, sans-serif
#app
  width: 100vw
#photo0
  background-image: url("../assets/00.jpg")
#photo1
  background-image: url("../assets/01.jpg")
#photo2
  background-image: url("../assets/02.jpg")
// #photo3
//   background-image: url("../assets/03.jpg")
//   background-position: center
// #photo4
//   background-image: url("../assets/04.jpg")
//   background-position: center
#photo5
  background-image: url("../assets/05.jpg")
  background-position: center
#photo6
  background-image: url("../assets/06.jpg")
  background-position: center
// #photo7
//   background-image: url("../assets/07.jpg")
//   background-position: center
#photo8
  background-image: url("../assets/08.jpg")
  background-position: center
#photo9
  background-image: url("../assets/09.jpg")
// #photo10
//   background-image: url("../assets/10.jpg")
#photo11
  background-image: url("../assets/11.jpg")
#photo12
  background-image: url("../assets/12.jpg")
#photo13
  background-image: url("../assets/13.jpg")
  background-position: center
#photo14
  background-image: url("../assets/14.jpg")
#welcome-text
  position: fixed
  text-align: center
  width: 100%
  z-index: 10
  color: white
  font-weight: bold
  font-size: 24px
  .con
    // background-color: red
    display: inline-block
    padding-bottom: 3px
    border-bottom: 2px solid white

.swiper-pagination
  position: fixed
  bottom: 10
  z-index: 100
#swrapper
  // height: 100vh
  width: 100%
  position: fixed
  top: 0

.swiper-container
  width: 100%
  height: 100%
  // transition: 0.2s
  // background-color: black

.swiper-slide
  cursor: grab
  background-size: cover
  background-position: top center
  opacity: 0.9
  &:active
    cursor: grabbing

.bottom-container
  margin-top: 100vh
  // height: 1300px
  background-color: white
  position: absolute
  z-index: 100
  width: 100%
  text-align: center

#date
  opacity: 0.8
  font-size: 17px
  color: #111011
  line-height: 22px
  font-weight: bold
  margin-top: 10vh
.v-line
  height: 88px
  width: 1px
  display: inline-block
  margin: 60px auto
  background-color: rgba(black, 0.08)
#message
  opacity: 0.8
  font-family: 'Nanum Myeongjo', NanumMyeongjo
  font-size: 15px
  color: #111011
  letter-spacing: -0.62px
  line-height: 25px
.parent
  opacity: 0.8
  font-family: 'Nanum Myeongjo', NanumMyeongjo
  font-size: 14px
  color: #111011
  letter-spacing: -0.58px
  line-height: 25px
.self
  margin-top: 8px
  opacity: 0.8
  font-family: 'Nanum Myeongjo', NanumMyeongjo
  font-size: 20px
  color: #111011
  letter-spacing: -0.83px
  line-height: 25px
.family
  margin-bottom: 28px
#map
  margin: 0 auto
  width: calc(100vw - 48px)
  // display: inline-blio
  max-width: 480px
  // margin: 0 24px
  overflow: hidden
  position: relative
  background: #FFFFFF
  box-shadow: 0 6px 24px 0 rgba(0,0,0,0.05), 0 0 0 1px rgba(0,0,0,0.01)
  border-radius: 6px
  transition: 0.2s
  .image
    width: 100%
    img
      width: 100%
      height: auto
  .info
    text-align: left
    padding: 16px 16px 20px 16px
    font-size: 14px
    line-height: 22px
  &:active
    transition: 0s
    background-color: rgba(black, 0.05)
#route
  // margin-top: 30px
  width: calc(100vw - 48px)
  max-width: 480px
  margin: 40px auto
  margin-bottom: 70px
  overflow: hidden
  position: relative
  background: #FFFFFF
  box-shadow: 0 6px 24px 0 rgba(0,0,0,0.05), 0 0 0 1px rgba(0,0,0,0.01)
  border-radius: 6px
  div
    padding: 24px
    transition: 0.2s
    &:active
      transition: 0s
      background-color: rgba(black, 0.05)
  div:first-child
    border-bottom: 1px solid rgba(black, 0.05)

#bm
  line-height: 22px
  font-size: 14px
  margin-bottom: 100px
  color: #555
